body {
  margin: 0 auto;
  background: lightgrey;
}

.text {
  font-family: 'Aref Ruqaa', serif;
}

#title {
  margin: 0.5em auto 1.2em 4.5em;
  width: 12%;
  height: 6%;
  color: white;
  text-align: center;
  font-size: 42px;
}

.session-mode {
  overflow: auto;
  margin: 1em auto;
  width: 500px;
  height: 500px;
  -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  background-color: tomato;
  opacity: 0.6;
}

.break-mode {
  background-color: #0074D9 !important;
  opacity: 0.75;
}

.countdown-wrapper {
  overflow: auto;
  margin: 0.5em auto 0.5em auto;
  background: lightgrey;
  width: 54%;
  height: 19%;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  text-align: center;
}

#countdown {
  font-size: 80px;
}

.time-box {
  width: 24%;
  height: 12%;
  color: white;
  text-align: center;
  font-size: 32px;
}
.time-box p {
  font-size: 18px !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.session-time{
  margin: 4em auto 0.2em auto;
}
.break-time{
  margin: 0.5em auto 0em auto;
}

/*set user select to none: ensures no highlighting in case the user clicks a bunch of times */
.signs:hover {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.button {
  overflow: auto;
  width: 24%;
  height: 14%;
  background: darkgrey;
  color: white;
  outline: 0;
  white-space: nowrap;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 1px 0px 1px lightgrey, 0px 1px 1px lightgrey, 2px 1px 1px lightgrey,
  1px 2px 1px lightgrey, 3px 2px 1px lightgrey, 2px 3px 1px lightgrey, 4px 3px 1px lightgrey;
  float: left;
}

.button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.9;
}

.button:active {
  box-shadow: 1px 0px 1px lightgrey, 0px 1px 1px lightgrey;
  transform: translate(3px, 3px);
}

.button-text {
  font-size: 24px;
  text-align: center;
  margin-top: 0.2em;
}

#startPause {
  margin: 0.5em 0em 0em 7.7em;
}
#reset {
  margin: 0.5em 0em 0em 0.7em;
}
